{% extends 'main.html' %}
{% block content %}
<div class="mt-5 d-flex align-items-center justify-content-center">
    <div class="accounts-container shadow mt-5 p-5 text-center">
        <h3>Change Password</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-outline mb-4">
                <span>Old Password</span> <br>
                {{ form.old_password }}
            </div>
            <div class="form-outline mb-4">
                <span>New Password</span> <br>
                {{ form.new_password1 }}
            </div>
            <div class="form-outline mb-4">                
                <span>Confirm New Password</span> <br>
                {{ form.new_password2 }}
            </div>
  

            <div class="confirm-and-back">
                <a class="btn btn-info" onClick="javascript:history.go(-1);">&laquo Go back</a>
                <input class="btn btn-outline-primary" type="submit" name="change_password" value="Change Password">
            </div>
        </form>
    </div>
</div>
{% endblock content %}