.custom-bg-image {
    background-position: center;
    background-size: cover;
}

.title-projects {
    width: fit-content;
}

a {
    text-decoration: none;
    color: black;
}

.projects-container {
    background-color: rgba(10, 10, 10, 0.6);
    border-top: 6px solid #0a0909;
    height: 70vh;
    overflow: scroll;
}

.project-card {
    border-radius: 40px;    
    background-color: rgb(242, 243, 243);
}

.project-card:hover {
    border: 1px solid whitesmoke;
}

.search-btn {
    width: 40%;
}

.project-card-footer {
    color: rgb(114, 112, 112);
}

.pdo {
    width: 90%;
}

/* Start Project page */
table {
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: max-content;
    overflow: scroll;
}

td,
th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    line-height: 40px;
    padding-right: 40px;    
}

.nested-th {
    border-top: 1px solid #dddddd;
    padding-right: 15px;    
}

.nested-td {
    border: none;    
}

th {
    background-color: #0a0909;
    color: azure;
}

.group-label {
    text-align: center;
    background-color: #e7e4e4;
    font-weight: bold;
    padding: 3px 0;
}

.project-table {
    width: 100%;
    overflow: scroll;
}
/* End Project page */

footer {
    background-color: rgb(12, 12, 12);
}