{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="custom-bg-image" style="background-image: url({% static '/images/elec2.jpg' %});">
    <div class="search-btn input-group">
        <!-- Search Bar -->
        <form action="{% url 'index' %}" method="GET">
            <input type="search" class="search-projects form-control rounded mt-3 mx-2" placeholder="Search Projects" name="searched_project" aria-label="Search" aria-describedby="search-addon">
        </form>        
    </div>

    <div class="title-projects shadow mt-4 p-3">
        <h2>PROJECTS</h2>
    </div>

    <div class="projects-container shadow mt-3 m-2 pt-lg-1 p-lg-5 p-3">
        {% for project in projects %}
        <a href="{% url 'project' project.id %}">
        {% include 'baseApp/project_card.html' %}
        </a>
        {% empty %}
            <h2>No projects for you yet</h2>
        {% endfor %}
    </div>
</section>
{% endblock content %}