{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>GRIDCO</title>
</head>
<body>
    <nav id="Main---Nav_bar">
        <!-- this is going to have three divisions  -->
        <!--division for the logo -->
        <div id="company-Logo">
            <div>
                <a href=".">
                        <img src="{% static 'images/Gridco.png' %}" alt="GRIDCo" id="Gridco---logo">
                    </a>
            </div>
        </div>

        <!-- division for the Project  -->
        <div id="project_name">GRIDCo PROJECT MONITORING SYSTEM</div>
        
        <!-- division for the profile avarta and user logout -->
        <div id="profile_and_user_logout">
            <div id="logout"><div id="logout---text"> LogOut </div></div>
            <div>
                <img src="{% static 'images/avarta.png' %}" alt="Profile_avarta" id="profile-avarta">
            </div>
        </div>
    </nav>
    <main>
        <!-- division for the login form -->
        <div id="Main--body---div">
            <div id="search_and_add">
                <div>
                    <input type="search" name="searchBox" id="inputSearchBox" placeholder="Search for Projects"> 
                    <img src="{% static 'images/magnifyer.svg' %}" alt="search here" id="magni">
                </div>
            </div>
                <div id="Projects---available">
                    <div id="title"> <h2> 
                                HERE ARE THE LIST OF AVAILABLE PROJECTS 
                                </h2>
                    </div>

                    <div id="list--of--projects">
                        <a href="">
                            <div class="Card">
                                <div class="Sub--div">
                                    <div id="project--title"><span id="project_title"> Project Title: </span></div>
                                    <div id="Percentage--completed">
                                        <span id="percent"> Percentage Completed: 100%
                                                        </span>
                                                    </div>
                                                </div> <div id="PDO">
                                        <span id="PDO--text">
                                            PDO:
                                        </span>
                                    </div>
                                
                                    <div class="Sub--divNext">
                                        <div id="created--By"> Created By:</div>
                                        <div id="date--created">
                                            <span id="created--date"> Created Date: 2023-06-12
                                                            </span>
                                                        </div>
                                                    </div>
                            
                            </div>
                        </a>
                        <a href="">
                        <div class="Card">
                            <div class="Sub--div">
                                <div id="project--title"><span id="project_title"> Project Title: </span></div>
                                <div id="Percentage--completed">
                                    <span id="percent"> Percentage Completed: 100%
                                                    </span>
                                                </div>
                                            </div> <div id="PDO">
                                    <span id="PDO--text">
                                         PDO:
                                    </span>
                                </div>
                            
                                <div class="Sub--divNext">
                                    <div id="created--By"> Created By:</div>
                                    <div id="date--created">
                                        <span id="created--date"> Created Date: 2023-06-12
                                                        </span>
                                    </div>
                                </div>
                        </div>
                        </a>
                </div>
        </div>
    </main>
</body>
</html>