{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="d-md-flex">
    <div class="profile-container col-md-4 mr-2 bg-dark justify-content-center p-4 text-light">
        <div class="d-flex justify-content-center">
            <div class="rounded-circle bg-secondary d-flex justify-content-center align-items-center" style="width: 150px; height: 150px;">
                <img src="#" alt="Profile Picture" class="rounded-circle img-fluid">            
            </div>
        </div>
        <div class="align-items-center d-flex flex-column my-1">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <span>{{user.user_id}}</span>
        </div>
        <div class="justify-content-center d-flex my-2">            
            <span>{{user.email}}</span>
        </div>
        {% if request.user is user %}
        <div class="justify-content-center d-flex my-2">
            <a class="btn btn-link" href="{% url 'password_change' %}">Change Password</a>
        </div>
        {% endif %}
    </div>

    <div class="profile-projects-container col-md-7 mx-lg-5">
        <h3 class="grouped-projects-header text-center mb-3 p-2">Projects Associated with {{user.first_name}} {{user.last_name}}</h3>
        <div class="bg-light shadow rounded p-2">
            <div id="accordion">
                {% if user.is_staff or user.is_superuser %}        
                <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Projects Created
                    </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="">
                            {% for project in user.created_projects.all %}
                            <div class="projecs">
                                {% include 'baseApp/project_card.html' %}
                            </div>
                            {% empty %}
                            <p>No Projects created yet!</p>
                            {% endfor %}            
                        </div>
                    </div>
                </div>
                </div>            
                {% endif %}
                <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Projects Assigned to Update
                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="">
                            {% for project in user.editing_projects.all %}
                            <div class="projecs">
                                {% include 'baseApp/project_card.html' %}
                            </div>
                            {% empty %}
                            <p>No Projects assigned to update yet!</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Projects Allowed to View Only
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="">
                            {% for project in user.view_only_projects.all %}
                            <div class="projecs">
                                {% include 'baseApp/project_card.html' %}
                            </div>
                            {% empty %}
                            <p>No view only Projects yet!</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
            </div>        
        </div>
    </div>
</div>
{% endblock content %}