{% extends "main.html" %}

{% block content %}
<section class="vh-100">  

  <div class="shadow-sm p-2 m-2">
    <h1>{{project.name}}</h1>
  </div>

  <div class="p-4">
    <h5>Performance Indicator Tracking Table (ITT)</h5>
    <p>
      <strong><u>Project Development Objective:</u></strong> <br>
      <p style="padding-left: 40px;">{{project.genPDO}}</p>
    </p>
  </div>

  <div class="mt-4 project-table">
      <table>
        <thead>
          <tr>
            <th>Indicator Ref</th>
            <th>Result Level</th>
            <th>Classification</th>
            <th>Measurement Unit</th>
            <th>Baseline</th>
            <th>Baseline Yr</th>

            {% for year in project_years %}
            <th style="padding-right: 0px;">

              Project Year {{year.year_num}}
              <table class="w-100 subtable">
                <tr>
                  {% for entry in year_entries %}
                    <th class="entryh">{{entry}}</th>
                  {% endfor %}
                  
                  <th class="yth" title="Yearly Target">YT</th>
                  <th class="atdh" title="Year {{year.year_num}} Actual to Date">Yr{{year.year_num}} ATD</th>
                  <th class="pch" title="Percent Completed">PC</th>
                </tr>
              </table>

            </th>
            {% endfor %}
        
            <th style="padding-right: 0px;">
              Progress to Date
              <table class="w-100 subtable">
                <tr>
                  <th><span title="End of Project Target">EoPT</th></span>
                  <th><span title="Actual to Date">ATD</th></span>
                  <th><span title="Percent Complete to Date">PCTD</th></span>
                </tr>
              </table>
            </th>
            <th>Data Source</th>
            <th>Comments</th>
          </tr>
        </thead>

        <tbody>
        {% for pdo in project.pdos.all %}
          <!-- Group Header -->
          <tr>
            <td colspan="12" class="group-label" style="text-align: left; padding-left: 10px;">Indicator {{pdo.pdo_num}}: {{pdo.name}}</td>
          </tr>
          
          <!-- Row data -->
          {% for subpdo in pdo.subpdos.all %}
            <tr style="border-bottom: 2px solid #e7e4e4;">
              <td>{{ subpdo.subpdo_id }}</td>
              <td>{{ subpdo.result_level }}</td>              
              <td>{{ subpdo.classification }}</td>
              <td>{{ subpdo.measurement_unit }}</td>
              <td>{{ subpdo.baseline }}</td>              
              <td>{{ subpdo.baselineyear }}</td>
              
              <!-- Project years -->
              {% for entries in subpdo.get_all_yrs_with_values %}
              <td> 
                <table class="w-100" class="subtable">
                  <tr>

                    <!-- This is the set of entries -->
                    <div class="d-flex w-100">
                    {% for entry in entries|slice:"0:-3" %}
                      
                      {% if editable %}

                        <div style="background-color: aliceblue;"
                          data-toggle="modal" data-target="#subPDOModal{{subpdo.pk}}{{yr.year_num}}{{entry.pk}}"
                          class="entryd"
                        >
                        {{entry.value}}{% if subpdo.classification == "Percentage" %}%{% endif %}
                        </div>
                        <!-- modal -->
                        {% include 'baseApp/update_entry_modal.html' %}

                      {% else %}
                        <!-- Normal entry but not editable -->                                          
                        <div class="entryd">
                          {{entry.value}}{% if subpdo.classification == "Percentage" %}%{% endif %}
                        </div>
                      {% endif %}

                    {% endfor %}
                    <!-- Target index -->
                    {% with t=entries|slice:"-3:-2" %}
                    <div class="ytd">{{ t.0 }}{% if subpdo.classification == "Percentage" %}%{% endif %}</div>
                    {% endwith %}
                    
                    <!-- Actual to date -->
                    {% with atd=entries|slice:"-2:-1" %}
                    <div class="atdd">{{ atd.0 }}{% if subpdo.classification == "Percentage" %}%{% endif %}</div>
                    {% endwith %}
                    
                    <!-- Percent complete -->                    
                    <div class="pcd">{{ entries|last }}%</div>                    

                    </div>
                    
                  </tr>
                </table>
              </td>
              {% endfor %}              
              <!-- End of project years -->
              
              <!-- Project progress -->
              <td>
                <table class="w-100">
                  <tr>
                    <td class="nested-td">{{ subpdo.end_target }}</td>
                    <td class="nested-td">F22</td>
                    <td class="nested-td">F33</td>
                  </tr>                
                </table>
              </td>          
              <!-- End of project progress -->

              <td style="overflow: scroll; max-width: 900px; max-height: 30px;">{{ subpdo.detailed_data_src }}</td>
              <td style="overflow: scroll; max-width: 900px; max-height: 30px;"><span>{{ subpdo.comments }}</span></td>
            </tr>
            <!-- End of row data -->
          {% endfor %}

        {% endfor %}                
        </tbody>

      </table>
  </div>

  <script>
    var entryWidth = document.querySelector('.entryh').offsetWidth;
    var entries = document.querySelectorAll('.entryd');
    for (var i = 0; i < entries.length; i++) {
      entries[i].style.width = entryWidth + 'px';
    }

    var ytWidth = document.querySelector('.yth').offsetWidth;
    var ytds = document.querySelectorAll('.ytd');
    for (var i = 0; i < ytds.length; i++) {
      ytds[i].style.width = ytWidth + 'px';
    }

    var atdWidth = document.querySelector('.atdh').offsetWidth;
    var atds = document.querySelectorAll('.atdd');
    for (var i = 0; i < atds.length; i++) {
      atds[i].style.width = atdWidth + 'px'
    }

    var pcWidth = document.querySelector('.pch').offsetWidth;
    var pcs = document.querySelectorAll('.pcd');
    for (var i = 0; i < pcs.length; i++) {
      pcs[i].style.width = pcWidth + 'px';
    }
  </script>
  
</section>

{% endblock content %}
