{% extends "main.html" %}

{% block content %}
<section class="vh-100">

  <div class="shadow-sm p-2 m-2">
    <h1>{{project.name}}</h1>
  </div>

  <div class="p-4">
    <h5>Performance Indicator Tracking Table (ITT)</h5>
    <p>
      <strong><u>Project Development Objective:</u></strong> <br>
      <p style="padding-left: 40px;">{{project.genPDO}}</p>
    </p>
  </div>

  <div class="mt-4 project-table">
      <table>
        <tr>
          <th>Indicator Ref</th>
          <th>Result Level</th>
          <th>Indicator</th>
          <th>Classification</th>
          <th>Measurement Unit</th>
          <th>Collection Frequency</th>
          <th>Baseline</th>

          {% for year in project.project_years.all %}
          <th>
            Project Year {{year.year_num}}
            <table>
              <tr>
                {% for entry in year_entries %}
                  <th class="nested-th">{{entry}} </th>
                {% endfor %}
                
                <th class="nested-th"><span title="Year {{year.year_num}} Actual to Date">Yr {{year.year_num}} ATD</span></th>
                <th class="nested-th">Yearly Target</th>
                <th class="nested-th"><span title="Percent Completed">% Comp</th></span>
              </tr>
            </table>
          </th>
          {% endfor %}
      

          <th>
            Progress to Date
            <table>
              <tr>
                <th class="nested-th"><span title="Actual to Date">ATD</th></span>
                <th class="nested-th"><span title="End of Project Target">EoPT</th></span>
                <th class="nested-th"><span title="Percent Complete to Date">PCTD</th></span>
              </tr>
            </table>
          </th>
          <th>Data Source</th>
          <th>Comments</th>
        </tr>

        {% for pdo in project.pdos.all %}
          <!-- Group Header -->
          <tr>
            <td colspan="12" class="group-label" style="text-align: left; padding-left: 10px;">{{pdo.pdo_id}}.0 {{pdo.name}}</td>
          </tr>
          
          <!-- Row data -->
          <tr>
            <td>KPI 1</td>
            <td>Result Indicator 1</td>
            <td>Indicator 1</td>
            <td>Classification 1</td>
            <td>Unit 1</td>
            <td>Frequency 1</td>
            <td>Baseline 1</td>
            
            <!-- Project years -->
            {% for year in project.project_years.all %}
              <td>1
                <!-- <table>
                  <td class="nested-td">L11</td>
                  <td class="nested-td">L22</td>
                  <td class="nested-td">L33</td>
                </table> -->
              </td>          
            {% endfor %}
            <!-- End of project years -->
            
            <!-- Project progress -->
            <td>
              <table class="w-100">
                <tr>
                  <td class="nested-td">F11</td>
                  <td class="nested-td">F22</td>
                  <td class="nested-td">F33</td>
                </tr>                
              </table>          
            </td>          
            <!-- End of project progress -->

            <td style="padding-right: 100px; padding-left: 100px;">Data Source 1</td>
            <td style="padding-right: 200px; padding-left: 200px;">Comment 1</td>
          </tr>
          <!-- End of row data -->
        {% endfor %}
      </table>
  </div>

</section>
{% endblock content %}
