{% extends "main.html" %}

{% block content %}
<section class="vh-100">

  <div class="shadow-sm p-2 m-2">
    <h1>{{project.name}}</h1>
  </div>

  <div class="p-4">
    <h5>Performance Indicator Tracking Table (ITT)</h5>
    <p>
      <strong><u>Project Development Objective:</u></strong> <br>
      <p style="padding-left: 40px;">{{project.genPDO}}</p>
    </p>
  </div>

  <div class="mt-4 project-table">
      <table>
        <tr>
          <th>Indicator Ref</th>
          <th>Result Level</th>
          <th>Classification</th>
          <th>Measurement Unit</th>
          <th>Baseline</th>
          <th>Baseline Yr</th>

          {% for year in project_years %}
          <th>

            Project Year {{year.year_num}}
            <table>
              <tr class="px-5">
                {% for entry in year_entries %}
                  <th class="nested-th">{{entry}}</th>
                {% endfor %}
                
                <th class="nested-th"><span title="Year {{year.year_num}} Actual to Date">Yr {{year.year_num}} ATD</span></th>
                <th class="nested-th"><span title="Yearly Target">Yrly Target</span></th>
                <th class="nested-th"><span title="Percent Completed">Percent Comp</th></span>
              </tr>
            </table>

          </th>
          {% endfor %}
      
          <th>
            Progress to Date
            <table>
              <tr>
                <th class="nested-th"><span title="Actual to Date">ATD</th></span>
                <th class="nested-th"><span title="End of Project Target">EoPT</th></span>
                <th class="nested-th"><span title="Percent Complete to Date">PCTD</th></span>
              </tr>
            </table>
          </th>
          <th>Data Source</th>
          <th>Comments</th>
        </tr>

        {% for pdo in project.pdos.all %}
          <!-- Group Header -->
          <tr>
            <td colspan="12" class="group-label" style="text-align: left; padding-left: 10px;">Indicator {{pdo.pdo_num}}: {{pdo.name}}</td>
          </tr>
          
          <!-- Row data -->
          {% for subpdo in pdo.subpdos.all %}
            <tr>
              <td>{{ subpdo.subpdo_id }}</td>
              <td>{{ subpdo.result_level }}</td>              
              <td>{{ subpdo.classification }}</td>
              <td>{{ subpdo.measurement_unit }}</td>
              <td>{{ subpdo.baseline }}</td>              
              <td>{{ subpdo.baselineyear }}</td>
              
              <!-- Project years -->
              {% for entries_in_a_yr in subpdo.get_entries_with_respect_to_years %}
              <td>                
                <table class="w-100">
                  <tr>
                    <!-- This is the set of entries -->
                    {% for entry in entries_in_a_yr.0 %}
                      
                      {% if editable %}
                        <td class="nested-td pl-2"
                        data-toggle="modal" data-target="#subPDOModal{{subpdo.pk}}{{yr.year_num}}{{entry.pk}}"
                        style="background-color: aliceblue;"
                        >
                        {{entry.value}}
                        </td>

                        <!-- modal -->
                        {% include 'baseApp/update_entry_modal.html' %}
                      {% else %}
                        <td class="nested-td">{{entry.value}}</td>
                      {% endif %}

                    {% endfor %}
                    <td class="nested-td">{{ subpdo.get_ATD }}</td>
                    <td class="nested-td">{{ subpdo.get_yrly_target }}</td>
                    <td class="nested-td">{{ subpdo.get_perc_comp }}</td>
                  </tr>
                </table>

              </td>
              {% endfor %}
              <!-- End of project years -->
              
              <!-- Project progress -->
              <td>

                <table class="w-100">
                  <tr>
                    <td class="nested-td">F11</td>
                    <td class="nested-td">F22</td>
                    <td class="nested-td">F33</td>
                  </tr>                
                </table>

              </td>          
              <!-- End of project progress -->

              <td style="padding-right: 150px;">{{ subpdo.detailed_data_src }}</td>
              <td style="padding-right: 150px;">{{ subpdo.comments }}</td>
            </tr>
            <!-- End of row data -->
          {% endfor %}

        {% endfor %}
      </table>
  </div>

</section>
{% endblock content %}
