<form action="" method="POST">
    {% csrf_token %}

    <div class="modal fade text-dark" id="subPDOModal{{subpdo.pk}}{{yr.year_num}}{{entry.pk}}" tabindex="-1" role="dialog" aria-labelledby="subPDOEntryModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="subPDOModalLongTitle{{subpdo.pk}}{{yr.year_num}}{{entry.pk}}" style="font-family: 'Times New Roman', Times, serif;">
                Updating... <br>
                {{ subpdo.pdo.name }}: {{ subpdo }} in Project Yr {{ entries_in_a_yr.1.year_num }}, {{ entry.get_year_entry }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body">        
                <div class="form-group my-1 d-flex mx-5 justify-content-around">                
                    <input type="number" step="0.01" min="0" name="entry_value" value="{{entry.value}}" style="border-radius: 10px; width: 100px; height: 40px;">
                    <input type="hidden" name="entry_pk" value="{{entry.pk}}">
                </div>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</form>
